

.body{
  background-color: black;
}



.Nav {
 
  margin: 0 auto;
  display: flex;

  
}
.Header {
  margin: 0 auto;
  margin-top: 3%;
  display: flex;
  justify-content: center;
}
.Title {
  margin: 0 auto;
  margin-top: 3%;
  font-size: 2.5em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  text-decoration: underline;
}

.AboutParagraph{
  display: flex;
  justify-content: center;
  margin-left:23%;
  margin-right:23%;
  margin-top: 3%;
  font-size: 1.2em;
}

.About{
  color: white;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.SkillsAndSoftware{
  margin: 0 auto;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-wrap: wrap;
}

.SkillsTitle{
  color: white;
  text-decoration: underline;
}
.SkillsParagraphText{
  color: white;
  font-size:1em;
  font-weight:bold;
}

.SoftwareTitle{
  color: white;
  text-decoration: underline;
}
.SoftwareParagraphText {
  color: white;
  font-size:1em;
  font-weight:bold;
}
.Link{
 
  margin: 0 auto;
  margin-top: 3%;
  display: flex;
  justify-content: left;
}
.LinkOne {
  margin: 0 auto;
  margin-left:33%;
  margin-top: 3%;
  display: flex;
  font-weight:bold;
}


.LinkTwo {
  margin: 0 auto;
  margin-left:33%;
  margin-top: 3%;
  display: flex;
  font-weight:bold;
}

.LinkThree {
  margin: 0 auto;
  margin-left:33%;
  margin-top: 3%;
  display: flex;
  font-weight:bold;
}

.footer{
  display:flex;
  justify-content: center;
  margin-top: 2%

 }
 
.contactEmail{
  color:blue;
  margin-left:7%;
  margin-right:7%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contactNumber{
  color:blue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.LinkedInLink{
  color:blue;
  margin-left:7%;
  margin-right:7%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
