:root {
  --mainDark: #343a40;
  --mainGrey: rgba(172, 172, 172);
  --mainLightGrey: rgba(172,172,172);
  --mainWhite: #fff;
  --mainBlue: #007bff;
}

.main-two{
background-image: url('Apple.gif');
   background-size:1000px;
    background-position: center; 
  background-size: cover;
padding-bottom:600px;
}

.home-title{
  padding-top:17%;
  text-align: center;
  color:black;
}
.home-title-heading{
  text-align: center;
  color:black;
}
.home-pic{
  background-image: url('Apple.gif');
   background-size:1000px;
    background-position: center; 
  background-size: cover;
  padding-bottom:600px;
}
.list-unstyled {
  display: flex;
  justify-content: center;
}
.nameHome{
  display: flex;
  justify-content: center;
  margin-left: 25%;
  margin-top: 10%;
}


.player-wrapper{
  display: flex;
  justify-content: center;
  padding-bottom:100px;
  overflow: auto;
}

.footer-middle {
   background: var(--mainDark);
    color: var(--mainWhite);
}

.main-footer{
position:fixed;
bottom:0;
width: 100%;
}

ul li a{
    color: var(--black);
}

ul li a:hover{
    color: var( --mainBlue);
}

ReactPlayer {

}

.navbar{
    top:0;
    position: fixed;
    z-index:100;
    width:100%;
}


.navbar-togger:focus {
  outline: none;
  margin-top:100px;
  margin-bottom:50px;

}

.navbar-togger {
  border: none;
  margin-top:100px;
  margin-bottom:50px;
}

.illustrations{
  margin:0 auto;
}
.AboutText{
  margin: 0 auto;
text-align: left;
}

.carousel {
  /* display: flex;
  justify-content: center; */
  padding-bottom:30px;
  overflow:auto;
}

.carousel-outer .carousel .slide {
    background: none;
}

.fixed_img {
  max-width:30em;  /* change this to whatever you want */
    height: auto;
    margin-top: 2%;
    padding-bottom:100px;
}



.fixed_img_graphic_design{
  max-width: 50em;  /* change this to whatever you want */
    height: auto;
    margin-top: 2%;
    margin-bottom: -10%;
    padding-bottom:100px;
}
.fixed_img_three_d{
  max-width: 60em;  /* change this to whatever you want */
    height: auto;
    margin-top: 2%;
    margin-bottom: 5%;
}
@media only screen and (max-width: 600px) {
.fixed_img {
max-width:20em;
}
.fixed_img_graphic_design{
  max-width:20em;
}
.fixed_img_three_d{
  max-width: 20em;
}
}
  
.Name {
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.AboutParagraph{
  display: flex;
  justify-content: center;
  margin-left:23%;
  margin-right:23%;
 padding-top:3%;
  font-size: 1.3em;
  font-weight:bold;
  line-height:normal;
  color: black;
  
}

.About{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  color: black;
  padding-bottom:20%;
}
.graphic-design{
  padding-bottom:20%;
}
.SkillsAndSoftware{
  margin: 0 auto;
  margin-left: 10%;
  margin-right: 40%;
  padding-top:50px;
  display: flex;
  flex-wrap: wrap;
  color: white; 
}

@media only screen and (max-width: 990px) {
  .SkillsAndSoftware{
    padding-top:200px;
  }
  .About{
    padding-top:70%;
  }
}


.SkillsTitle{
  
  text-decoration: underline;
  color:white;
}
.SkillsParagraphText{
  color: white;
  font-size:1em;
  font-weight:bold;
  color: white;
}

.SoftwareTitle{
  color: white;
  text-decoration: underline;
  
}
.SoftwareParagraphText {
  color: white;
  font-size:1em;
  font-weight:bold;

}

.webDevWrap{
padding-top:100px;
}


.webDevLinks{
  color:black;
  margin: 0 auto;
  display: flex;
  justify-content: center;

}

@media only screen and (max-width: 800px) {
  
.webDevLinks{
  padding-top:25%;
}
  }

@media only screen and (max-width: 600px) {
.webDevLinks{
  padding-top:35%;
}
  }


.LinkOne, .LinkTwo, .LinkThree, .LinkFour, .LinkFive{
  margin: 0 auto;
  margin-top: 5%;
  font-weight:bold;
  font-size:1.5em;
  color:#dff3ff;
}


.contact-info{
  margin: 0 auto;
  color:rgb(131, 197, 228);
  padding-bottom: 1em;
  margin-top: -5em;
  text-align: center;
  font-size:1em;
  list-style-type: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.animation-window{

 padding-top:100px;
 padding-bottom:200px;
}

.animation-videos{
  padding-top:3%;
   padding-bottom:3%;
  
}

.animation-video-each{
  padding-bottom: 100px;
   border: '10px solid black';
}
.player-wrapper{
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-left: 25%;
  
}

.audio-reel{
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: center;
  padding-bottom:250px;
  padding-top:100px;
 background: none;
}

