:root {
  --mainDark: #343a40;
  --mainGrey: rgba(172, 172, 172);
  --mainLightGrey: rgba(172,172,172);
  --mainWhite: #fff;
  --mainBlue: #007bff;
}




.footer-middle { background: var(--mainDark);
    padding-top: 1.5rem;
    color: var(--mainWhite);
}

.footer-bottom {
    padding-top: 3rem;
    padding-bottom: 2rem; 
}

ul li a{
    color: var(--mainGrey);
}

ul li a:hover{
    color: var( --mainWhite);
}

.navbar-togger:focus {
  outline: none;
}

.navbar-togger {
  border: none
}
.homePic{
   margin: 0 auto;
   display: flex;
   justify-content: center;
}

.illustrations{
  margin:0 auto;
}
.AboutText{
  margin: 0 auto;
}

.carousel {
  max-height: 20%;
  margin-top: -1%;
}

.homePic {
  border: 1px, black;
}

.fixed_img {
  max-width:60em;  /* change this to whatever you want */
    max-height: auto;
    margin-bottom: -30%;
}



.fixed_img_graphic_design{
  max-width: 90em;  /* change this to whatever you want */
    max-height: auto;
}
.fixed_img_three_d{
  max-width: 55em;  /* change this to whatever you want */
    height: auto;
}

  
.Name {
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.AboutParagraph{
  display: flex;
  justify-content: center;
  margin-left:23%;
  margin-right:23%;
  margin-top: 3%;
  font-size: 1.2em;
  color: black;
  
}

.About{
  color: white;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  color: black;
}

.SkillsAndSoftware{
  margin: 0 auto;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-wrap: wrap;
  color: black;
}

.SkillsTitle{
  color: white;
  text-decoration: underline;
  color: black;
}
.SkillsParagraphText{
  color: white;
  font-size:1em;
  font-weight:bold;
  color: black;
}

.SoftwareTitle{
  color: white;
  text-decoration: underline;
  color: black;
}
.SoftwareParagraphText {
  color: white;
  font-size:1em;
  font-weight:bold;
  color: black;
}




.webDevLinks{
  margin: 0 auto;
  margin-top: 5%;
  display: flex;
  justify-content: center;

}
.LinkOne {
  margin: 0 auto;
  margin-top: 3%;
  font-weight:bold;
  font-size:1.5em
}


.LinkTwo {
  margin: 0 auto;
  margin-top: 3%;
  font-weight:bold;
  font-size:1.5em
}

.LinkThree {
  margin: 0 auto;
  margin-top: 3%;
  margin-bottom: 50%;
  font-weight:bold;
  font-size:1.5em
}

.contact-info{
  margin: 0 auto;
  color:rgb(131, 197, 228);
  padding-bottom: 1em;
  margin-top: -5em;
  text-align: center;
  font-size:1em;
  list-style-type: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



