:root {
  --mainDark: #343a40;
  --mainGrey: rgba(172, 172, 172);
  --mainLightGrey: rgba(172,172,172);
  --mainWhite: #fff;
  --mainBlue: #007bff;
}

.list-unstyled {
  display: flex;
  justify-content: center;
}
.nameHome{
  display: flex;
  justify-content: center;
  margin-left: 25%;
  margin-top: 10%;
}


.player-wrapper{
  display: flex;
  justify-content: center;
}

.footer-middle {
   background: var(--mainDark);
    color: var(--mainWhite);
}

.main-footer{
position:fixed;
bottom:0;
width: 100%;
}

.homePic {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden; 
}

ul li a{
    color: var(--mainBlue);
}

ul li a:hover{
    color: var( --mainBlack);
}

.navbar-togger:focus {
  outline: none;
  margin-top:100px;
  margin-bottom:50px;

}

.navbar-togger {
  border: none;
  margin-top:100px;
  margin-bottom:50px;
}

.illustrations{
  margin:0 auto;
}
.AboutText{
  margin: 0 auto;
  background-image: url('Lamppost2.png');
   background-size:1000px;
   background-repeat: no-repeat;
    background-position: center; 
  background-size: cover;
padding-bottom:300px;

}

.carousel {
  

  /* display: flex;
  justify-content: center; */
  padding-bottom:30px;
  overflow:auto;
}


.fixed_img {
  max-width:30em;  /* change this to whatever you want */
    height: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-bottom:200px;
}



.fixed_img_graphic_design{
  max-width: 90em;  /* change this to whatever you want */
    height: auto;
    margin-top: 2%;
    margin-bottom: -10%;
}
.fixed_img_three_d{
  max-width: 55em;  /* change this to whatever you want */
    height: auto;
    margin-top: 2%;
    margin-bottom: 5%;
}

  
.Name {
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.AboutParagraph{
  display: flex;
  justify-content: center;
  margin-left:23%;
  margin-right:23%;
 padding-top:5%;
  font-size: 1.3em;
  font-weight:bold;
  line-height:normal;
  color: white;
  
}

.About{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  color: white;
}

.SkillsAndSoftware{
  margin: 0 auto;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-wrap: wrap;
  color: white;
  
}

.SkillsTitle{
  
  text-decoration: underline;
  color:white;
}
.SkillsParagraphText{
  color: white;
  font-size:1em;
  font-weight:bold;
  color: white;
}

.SoftwareTitle{
  color: white;
  text-decoration: underline;
  
}
.SoftwareParagraphText {
  color: white;
  font-size:1em;
  font-weight:bold;

}




.webDevLinks{
  margin: 0 auto;
  margin-top: 10%;
  
  display: flex;
  justify-content: center;

}
.LinkOne, .LinkTwo, .LinkThree, .LinkFour, .LinkFive{
  margin: 0 auto;
  margin-top: 3%;
  font-weight:bold;
  font-size:2.5em
}


.contact-info{
  margin: 0 auto;
  color:rgb(131, 197, 228);
  padding-bottom: 1em;
  margin-top: -5em;
  text-align: center;
  font-size:1em;
  list-style-type: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.player-wrapper{
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-left: 33%;
}

.audio-reel{
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 5%;

}

