

.body{
  margin: 0 auto;
  max-height: 100%;
  min-height: 45em;
  max-height: 45em;
  
  background-color: black;
  position:fixed, absolute;
  justify-content: center;
  

}
.illustrations{
  margin:0 auto;
}
.AboutText{
  margin: 0 auto;
  max-height: 100%;
  min-height: 45em;
  max-height: 45em;
  position:fixed, absolute;

}
.Components{
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.carousel {
  max-height: 20%;
  margin-top: -1%;
}

.fixed_img {
  max-width: 13em;  /* change this to whatever you want */
    height: auto;
}
.fixed_img_graphic_design{
  max-width: 40em;  /* change this to whatever you want */
    height: auto;
}
.fixed_img_three_d{
  max-width: 55em;  /* change this to whatever you want */
    height: auto;
}
.Nav {
margin: 0 auto;
padding-top:2%;
  
}
  

.Header {

  margin-top: 3%;
  display: flex;
  justify-content: center;

}
.Name {
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.Title {
  text-align: center;
  margin-top: 2%;
  font-size: 2.5em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  text-decoration: underline;
}

.AboutParagraph{
  display: flex;
  justify-content: center;
  margin-left:23%;
  margin-right:23%;
  margin-top: 3%;
  font-size: 1.2em;
  
}

.About{
  color: white;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.SkillsAndSoftware{
  margin: 0 auto;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-wrap: wrap;
  max-height: 100%;
  min-height: 45em;
  max-height: 45em;
  position:fixed, absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
}

.SkillsTitle{
  color: white;
  text-decoration: underline;
}
.SkillsParagraphText{
  color: white;
  font-size:1em;
  font-weight:bold;
  
  top:0;
  left:0;
  bottom:0;
  right:0;
}

.SoftwareTitle{
  color: white;
  text-decoration: underline;
}
.SoftwareParagraphText {
  color: white;
  font-size:1em;
  font-weight:bold;
  max-height: 100%;
  min-height: 45em;
  max-height: 45em;
  position:fixed, absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
}
.HeaderLinks {
 margin: 0 auto;
 display: flex;
 justify-content: space-around;
}


.Links{
  margin: 0 auto;
  margin-top: 3%;
  display: flex;
  justify-content: left;
}

.webDevLinks{
  margin: 0 auto;
  margin-top: 5%;
  display: flex;
  justify-content: center;

}
.LinkOne {
  margin: 0 auto;
  margin-top: 3%;
  font-weight:bold;
  font-size:1.5em
}


.LinkTwo {
  margin: 0 auto;
  margin-top: 3%;
  font-weight:bold;
  font-size:1.5em
}

.LinkThree {
  margin: 0 auto;
  margin-top: 3%;
  margin-bottom: 50%;
  font-weight:bold;
  font-size:1.5em
}

.footer{
  margin: 0 auto;
  display:flex;
  justify-content: center;
  flex-direction: column;
  position:fixed, absolute;
  margin-bottom: -1em;
  margin-left: 43%;
  left:0;
  bottom:0;
  right:0;
 }
 
.footerDiv{
  display:flex;
  flex-direction: column;
  justify-content: center;
  position:fixed,absolute;
  margin-bottom: -1em;
  left:0;
  bottom:0;
  right:0;
}

.contactEmail{
  color:blue;
  position:fixed,absolute;
  font-size:.8em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contactNumber{
  color:blue;
  position:fixed,absolute;
  font-size:.8em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.LinkedInLink{
  color:blue;
  position:fixed,absolute;
  font-size:.8em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}
